a:hover {COLOR: #cc3300; TEXT-DECORATION: none}
.small {	/*font-size: 14px;*/	line-height: 28px;	color: #333333;	font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "·s²Ó©úÅé";}
.pt9 {	COLOR: #666666; FONT-FAMILY: "²Ó©úÅé"; /*FONT-SIZE: 9pt;*/ TEXT-DECORATION: underline}
.pt9a {	COLOR: black; FONT-FAMILY: "²Ó©úÅé"; /*FONT-SIZE: 12pt;*/ LINE-HEIGHT: 150%; TEXT-DECORATION: none}
.pt9b {	/*font-size: 15px;*/	line-height: 22px;	color: #FB007D;	font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "·s²Ó©úÅé";}
.pt9c {	/*font-size: 13px;*/	line-height: 22px;	color: #FF4AFF;	font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "·s²Ó©úÅé";}
.pt9d {	/*font-size: 13px;*/	line-height: 22px;	color: #FFFFFF;	font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "·s²Ó©úÅé";}
.pt9e {	/*font-size: 13px;*/	line-height: 22px;	color: blue;	font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "·s²Ó©úÅé";}
.pt9f {	/*font-size: 16px;*/	line-height: 22px;	color: blue;	font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "·s²Ó©úÅé";}
.pt11 {	COLOR: #333333; FONT-FAMILY: "²Ó©úÅé"; /*FONT-SIZE: 11pt;*/ FONT-WEIGHT: bold; TEXT-DECORATION: none}
.pt11n {	COLOR: #333333; FONT-FAMILY: "²Ó©úÅé"; /*FONT-SIZE: 11pt;*/ LINE-HEIGHT: 150%; TEXT-DECORATION: none}
.pt8 {	COLOR: #666666; FONT-FAMILY: "²Ó©úÅé"; /*FONT-SIZE: 8pt;*/ LINE-HEIGHT: 15pt; TEXT-DECORATION: none}
.pt10 {	COLOR: #666666; FONT-FAMILY: "²Ó©úÅé"; /*FONT-SIZE: 10pt;*/ LINE-HEIGHT: 15pt; TEXT-DECORATION: none}
.pt12 {        COLOR: black; FONT-FAMILY: "²Ó©úÅé"; /*FONT-SIZE: 12pt;*/ LINE-HEIGHT: 25pt;}
.emg2 {color: #0000ff;}.c1{ font-family: "·s²Ó©úÅé";/*font-size: 3pt*/}
.story {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-size: 11pt;*/
	line-height: 18pt;
	color: #414141;
}

.c2{ font-family: "·s²Ó©úÅé";font-size: 9pt}
.c3{ font-family: "·s²Ó©úÅé";font-size: 10pt;color:blue}
.c4{ font-family: "·s²Ó©úÅé";font-size: 10pt;color:red}
.c5{ font-family: "·s²Ó©úÅé";font-size: 12pt;color:blue}
.c6{ font-family: "·s²Ó©úÅé";font-size: 10pt;color:red}
.c7{ font-family: "·s²Ó©úÅé";font-size: 16pt;color:blue}
.c8{ font-family: "·s²Ó©úÅé";font-size: 10pt;color:#178BFF}
.c9{ font-family: "·s²Ó©úÅé";font-size: 10pt;color:#008080}
.c10{ font-family: "·s²Ó©úÅé";font-size: 12pt;color:#FF55C8}
.c11{ font-family: "·s²Ó©úÅé";font-size: 10pt;color:#FF178B}
.c12{ font-family: "·s²Ó©úÅé";font-size: 12pt;color:#178BFF}
.c13{ font-family: "·s²Ó©úÅé";font-size: 8pt;color:gray}
.c14{ font-family: "·s²Ó©úÅé";font-size: 8pt;color:#178BFF}
.c15{ font-family: "·s²Ó©úÅé";font-size: 8pt;color:red}
.c16{ font-family: "·s²Ó©úÅé";font-size: 12pt;color:#FF178B}
.c17{ font-family: "²Ó©úÅé";font-size: 12pt}.c18{ font-family: "·s²Ó©úÅé";/*font-size: 12pt*/}
.c19{ font-family: "·s²Ó©úÅé";font-size: 12pt;color:red}.c20{ font-family: "²Ó©úÅé";/*font-size: 10pt*/}